@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600&display=swap');

/* ===== ROOT ===== */
:root{
  --container: 90%;
  --gap: 2.3vw;
  --edge: 0.57vw;
  --text: #111;
  --muted: #444;
  --brand: rgba(173, 12, 12, 1);
}

*{ box-sizing: border-box; }

html, body{ height: 100%; overflow-x: hidden; }

body{
  margin: 0;
  color: var(--text);
  font-family: Geologica, system-ui, Arial, sans-serif;
}

img{ display:block; max-width:100%; height:auto; }

section{
  width: 100%;
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

h2 {
  font-size: 2.6vw;
  font-weight: 200;
  margin: 0 0 2.6vw;
  font-family: Geologica, sans-serif;
  line-height: 1;
}

/* ===== HERO ===== */
.hero{
  margin-top: 1vh;
  position: relative;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  padding-bottom: 2vh;
  background: #ddd url('../image/backgroundPhoto2.jpg') center/cover no-repeat;
}

.hero h1{
  margin: 0 0 4vw;
  color: #fff;
  font-weight: 200;
  font-size: 3.2vw;
  text-align: center;
  text-shadow: 0 0.104vw 0.42vw rgba(0,0,0,.05);
  line-height: 0.75;
}

.hero_btn{
  display:inline-flex;
  align-items:center;
  gap: 0.52vw;
  background: var(--brand);
  color: #fff;
  text-decoration: none;
  padding: 0 2.1vw;
  font-size: 1vw;
  font-weight: 300;
  transition: background .18s ease, color .18s ease;
  margin-top: auto;
  height: 3.1vw;
}
.hero_btn:hover{ background:rgba(153, 0, 0, 1); color:#fff; }

.hero_icon { height: 50%; }

/* ===== КАРТОЧКИ ===== */
.card_link{ display:block; color:inherit; text-decoration:none; }

.card_link:focus-visible .card_arrow,
.card_link:hover .card_arrow{ filter: brightness(0) saturate(100%); }

.cards{
  padding-left: 0;
  padding-right: 0;
  padding-top: 10vh;
}

.cards_row{
  display:flex;
  align-items:stretch;
  justify-content: space-between;
  flex-wrap:nowrap;
  gap: var(--gap);
}

.card{
  position:relative;
  overflow:hidden;
  cursor:pointer;
  transition: transform .25s ease;
}
.card:hover{ transform: scale(1.03); }

.card .card_bg{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(.80);
}

.card h2{
  position:absolute;
  top: 1.05vw;
  left: 1.05vw;
  margin:0;
  color:#fff;
  font-size: 1.8vw;
  font-weight:400;
  letter-spacing:0.03em;
}

.card_arrow{
  position:absolute;
  right: 1.05vw;
  bottom: 1.05vw;
  width: 2.6vw;
  height: 2.6vw;
}

.card_tall{ flex: 0 0 23%;}
.card_wide{ flex: 1;}
.card_col { flex: 0 0 23%; display:flex; flex-direction:column; gap: var(--gap); }
.card_small{ aspect-ratio: 389/229; }
.card_banner{ aspect-ratio: 389/447; }

.card_designers .card_bg{ background-image: url('../image/DesignerPhoto.png'); }
.card_interiors .card_bg{ background-image: url('../image/interiorPhoto.png'); }
.card_companies .card_bg{ background-image: url('../image/CompanyPhoto.png'); }
.card_banner .card_bg{ background-image: url('../image/BannerPhoto.png'); }

/* ===== О ДИЗАЙНЕ ===== */
.about_design_row{
  display:flex;
  gap: var(--gap);
  align-items:stretch;
  justify-content: space-between;
  cursor:pointer;
}

.about_design_card{
  display:flex;
  flex-direction:column;
  gap: 0.52vw;
  min-width:0;
  margin:0;
}

.about_design_card.fig_1{ flex: 1; }
.about_design_card.fig_2,
.about_design_card.fig_3{ flex: 0 0 23%; }

.about_design_card img{
  width:100%;
  object-fit:cover;
  height: 100%;
}
.about_design_card.fig_1 img{
  height: 36.5vw;
}
.about_design_card.fig_2 img,
.about_design_card.fig_3 img{
  height: 36.5vw;
}

.about_design_card figcaption{
  font-size: 1.25vw;
  font-weight: 300;
  color: black;
}

.about_design_footer{
  display:flex;
  justify-content:flex-end;
  margin-top:1.25vw;
  width: 23%;
  margin-left: auto;
}
.about_design_all{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  gap:0.62vw;
  width: 100%;
  height: 3.1vw;
  margin-left: auto;
  border:1px solid #111;
  font-weight:300;
  color:#111;
  background:#fff;
  text-decoration:none;
  transition: all .18s ease;
  font-size:1.04vw;
}
.about_design_all:hover{ background:rgba(153, 0, 0, 1); color:#fff; border-color: rgba(153, 0, 0, 1);}
.about_design_all:hover img{
  filter: invert(1) brightness(1.15) contrast(1.05);
  mix-blend-mode: normal; opacity:1;
}
.design_arrow{ color:black; font-size:1.04vw; }

/* ===== ЖУРНАЛ ===== */
.journal_block{
  display:grid;
  flex-wrap:wrap;
  column-gap: var(--gap);
  grid-template-columns: 1fr 26% calc((46% + var(--gap)));
}

.journal_block h2{
  width:100%;
  grid-column: 1 / -1;
  grid-row: 1;
}

.journal_sidebar
{
  flex: 1;
  grid-column: 1 / 2;
  grid-row: 2;
}
.journal_header h2
{
  font-size:2.6vw;
  margin:0 0 4vw;
}

.journal_numbers{ display:flex; flex-direction:column; gap:1.04vw; }

.journal_big{
  font-size:6.25vw;
  font-weight:200;
  line-height:1;
  display:block;
  letter-spacing: -0.07em;
}

.journal_note
{
  font-size: 1.04vw;
  margin-top: 0.26vw;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.journal_cover
{
  flex: 0 0 26%;
  grid-column: 2 / 3;
  grid-row: 2;
  width: 100%;
  align-self: start;
}

.journal_cover img
{
  height:auto;
  box-shadow:none;
  display:block;
  width: 100%;
}

/* .journal_content{
  flex: 0 0 calc(46% + var(--gap));
  min-width:0;
  display:flex;
  flex-direction:column;
  margin:0;
  justify-content: space-between;
} */

.journal_desc{
  font-size:1.56vw;
  font-weight:300;
  line-height:1.1;
  margin:0;
  grid-column: 3 / 4;
  grid-row: 2;
  min-width: 0;
}

.journal_actions{
  width:100%;
  margin-top:auto;
  padding-top:8.44vw;
  grid-column: 3 / 4;
  grid-row: 2;
  min-width: 0;
}

.journal_btn_s img, .journal_btn img, .about_editorial__btn img, .about_editorial__btn__red img, .events_btn img, .about_design_all img {
  height: 40%;
}

.journal_actions .journal_btns{
  display:flex;
  gap:0;
  margin:0;
  justify-content: space-between;
}

.journal_actions .journal_btn,
.journal_actions .journal_btn_s{
  height: 3.1vw;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:47.5%;
  flex-shrink:0;
}

.journal_btns{ display:flex; gap:var(--gap); flex-wrap:nowrap; margin-top:7.55vw; }

.journal_btn, .journal_btn_s{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  gap:0.52vw;
  height: 3.1vw;
  padding:0 1.25vw;
  border:1px solid #222;
  font-weight:300;
  background:#fff;
  color:#111;
  text-decoration:none;
  transition: all .18s ease;
  white-space:nowrap;
  font-size:1.04vw;
  line-height:1.1;
}

.journal_btn{
  width:20.26vw;
  text-decoration: underline;
  text-underline-offset:0.2vw;
}
.journal_btn_s{ width:20.26vw; }

/* ===== СОБЫТИЯ ===== */

.events_row
{
  display: flex;
  gap: var(--gap);
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: pointer;
}

.event_card
{
  display:flex;
  flex-direction:column;
  overflow:hidden;
  background:#fff;
  min-width:0;
}
.event_card__small{ flex: 0 0 23%; }
.event_card__wide{ flex:1; }

.event_card img{ width:100%; object-fit:cover; height:36.5vw; }

.event_card__small img{ aspect-ratio:389/292; }
.event_card__wide img{ aspect-ratio:832/520; }

.event_caption{
  font-size:1.25vw; color:black; font-weight:300;
  padding:0.62vw 0 0.83vw; line-height:1.35;
}

.events_footer{
  display:flex;
  justify-content:flex-end;
  margin-top:1.04vw;
  width: 23%;
  margin-left: auto;
}

.events_btn{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  gap:1.2vw;
  width:100%;
  height: 3.1vw;
  border: 1px solid #000;
  font-weight:300;
  color:#111;
  text-decoration:none;
  transition: all .18s ease;
  font-size:1.04vw;
}
.events_btn:hover{
  background:rgba(153, 0, 0, 1);
  color:#fff;
  border-color: rgba(153, 0, 0, 1);
}
.events_btn:hover img{ filter: invert(1) brightness(1.15) contrast(1.05); mix-blend-mode:normal; opacity:1; }

/* ===== О РЕДАКЦИИ ===== */
.about_editorial
{
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.about_editorial__content{
  background:#ededed;
  padding:1.98vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--gap);
  align-items:stretch;
  flex-wrap:nowrap;
}

.about_editorial__col{
  flex:1 1 0;
  min-width:0;
  display:flex;
  flex-direction:column;
  gap:0.63vw;
}
.about_editorial__col:nth-of-type(2)
{
  justify-content: center;
}
.about_editorial__title{ font-size:1.41vw; font-weight:300; margin:0; line-height:1.10; }
.about_editorial__text{ font-size:1.04vw; margin:0; font-weight:300; }
.mail{ color:black; text-decoration:none; }

.about_editorial__list{
  width:100%;
  font-size:1.04vw;
  list-style: disc inside;
  font-weight:300;
  padding: 0;
}
.about_editorial__list li
{
  text-indent: -1.35em;
  padding-left: 1.35em;
}
.readmore{
  color:#be2a21;
  text-decoration:underline;
  text-underline-offset: 0.2vw;
}
.about_editorial__content hr
{
  display: none;
}

.about_editorial__btn{
  height: 3.1vw; width:100%; margin-top:auto; align-self:flex-start;
  display:inline-flex; align-items:center; gap:0.63vw; padding:0 1.87vw; font-weight:300; color:#111;
  border:1px solid #222; justify-content:center; font-size:1.04vw; text-decoration:none; transition:all .18s ease;
}
.about_editorial__btn:hover img{ filter: invert(1) brightness(1.15) contrast(1.05); mix-blend-mode:normal; opacity:1; }
.about_editorial__btn:hover{
  background:rgba(153, 0, 0, 1);
  color:#fff;
  border-color: rgba(153, 0, 0, 1);
}

.about_editorial__btn__red{
  height: 3.1vw; width:100%; margin-top:auto; align-self:flex-start;
  display:inline-flex; align-items:center; justify-content:center; gap:0.63vw;
  font-weight:300; color:#fff; border:1px solid #a21411; font-size:1.04vw; background:#a21411; text-decoration:none;
  transition: all .18s ease;
}
.about_editorial__btn__red:hover{ background:rgba(153, 0, 0, 1); border-color:rgba(153, 0, 0, 1); }

.events-section-wrapper {
    background-color: #ededed;
}
.event_caption{
    background-color:#ededed;
}
/* ===== МОБИЛЬНЫЙ <= 767px ===== */
@media (max-width: 767px) {
  .card:hover
  {
    transform: scale(1);
  }

  :root{
    --container: 90%;
    --gap: 3.0vw;
    --edge: 5.56vw;
  }

  body{ max-width: 100%; overflow-x: hidden; }
  section{
    padding-left: var(--edge);
    padding-right: var(--edge);
    max-width: 100%;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .hero{
    min-width: 320px;
    width:90%;
    height: 90vw;
    padding-top: 6vw;
    padding-bottom: 4vw;
    background-position: center top;
  }
  .hero h1{
    width:100%;
    margin-top: 43vw;
    text-align:center;
    font-size:8vw;
    line-height:1;
    font-weight:300;
  }
  .hero_btn{
    padding: 3vw 20vw;
    font-size:4vw;
    height:11vw;
  }
  .hero_icon{ height: 100%; }

  .cards{
    width:100%;
    padding-top: 8vw;
  }
  .cards_row{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: var(--gap);
    justify-content:center;
    max-width: var(--container);
    margin:0 auto;
    align-content: space-between;
  }

  .card_col{ display:contents; }
  .card_wide{ display:block !important; }

  .card, .card_tall, .card_small, .card_banner{
    width:100% !important; max-width:100%; overflow:hidden; position:relative;
  }

  .card_interiors{ grid-column:1 / -1; aspect-ratio: 320 / 248; width:100%; height:auto; }
  .card_designers{ grid-column:1 / 2; grid-row:2 / 4; width:100%; }
  .card_companies{ grid-column:2 / 3; grid-row:2; width:100%; }
  .card_banner{ grid-column:2 / 3; grid-row:3; width:100%; }

  .card h2{
    top: 2vw;
    left: 2vw;
    font-size:5vw;
    top: 1.2vw;
    left: 1.2vw;
  }
  .card_arrow{ right:2vw; bottom:2vw; width:5vw; height:5vw; }

  .about_design{
    width:100%;
    margin: 0 auto;
  }
  .about_design h2{
    font-size:7vw;
    margin-bottom: 5.5vw;
    text-align:left;
  }
  .about_design_row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 0 var(--gap);
    row-gap: 5vw;
    justify-content:center;
  }
  .about_design_card{ flex:none; width:100%; }

  .about_design_card.fig_2
  {
      order:1; 
      grid-column:1/2;
      grid-row:1; 
  }
  .about_design_card.fig_1
  {
      order: 3;
      grid-column: 1 / 3;
      grid-row: 2;
  }
  .about_design_card.fig_3
  {
      order: 3;
      grid-column: 2 / 3;
      grid-row: 1;
  }

  .about_design_card.fig_1 img, .about_design_card.fig_2 img{
    height: 60vw;
  }
  .about_design_card.fig_3 img {
    height: 60vw;
  }

  .about_editorial__col{ gap: 1.2vh; }

  .about_design_card figcaption{ font-size:4.5vw; margin-top:1vw; }

  .about_design_footer{
    margin-top:3vw;
    display:flex;
    justify-content:center;
    width: 100%;
  }
  .about_design_all{ width:100%; height:11vw; font-size:3.5vw; }

  .journal_block{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2.5vw;
    margin:0 auto;
    padding-left:var(--edge);
    padding-right:var(--edge);
  }
  .journal_block h2{
    font-size:7vw;
    margin-bottom:5.5vw;
  }
  .journal_numbers{ gap:3vw; }
  .journal_big{ font-size: 20vw; }
  .journal_note{ font-size:3.5vw; }

  .journal_sidebar{
    grid-column: 1 / 2;
    grid-row: 2;
    align-self:start;
  }
  .journal_numbers{ gap:1.5vw; }

  .journal_big{
    font-size:14vw;
    line-height:1;
  }
  .journal_note{
    font-size:3.3vw;
    margin-top:0.26vw;
  }

  .journal_cover{
    grid-column: 2 / 2;
    grid-row: 2;
    width:100%;
    align-self:start;
  }
  .journal_cover img{ box-shadow:0 0.21vw 0.83vw rgba(0,0,0,.08); }

  .journal_content{ grid-column:1 / 3; grid-row:3; display:flex; flex-direction:column; gap:1.25vw; }
  .journal_desc{
    font-size:4vw;
    line-height:1.4;
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .journal_actions{
    grid-column: 1 / 3;
    grid-row: 5;
    width:100%;
    margin-top:1.5vw;
    padding-top:1.25vw;
  }
  .journal_cover{ width:100%; margin-right:0; }
  .journal_content{ display:flex; flex-direction:column; gap:2.5vw; }

  .journal_actions{ padding-top:3vw; }
  .journal_actions .journal_btns{ display:flex; flex-direction:column; gap:3vw; }
  .journal_actions .journal_btn,
  .journal_actions .journal_btn_s{
    width:100%;
    height:10vw;
    font-size:4vw;
    text-underline-offset: 0.7vw;
  }

  .events_block h2{
    font-size: 7vw;
    margin-bottom: 5.5vw;
  }
  .events_row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    margin:0 auto;
    padding:0;
  }
  .event_card__small{ grid-column:auto; width:100%; }
  .event_card__wide{ grid-column:1 / -1; order:3; width:100%; }
  .event_card img{ height: 36.5vh; }
  .event_caption{ font-size:4vw; padding:2vw 0; }

  .events_footer{ width: 100%; }
  .events_btn{ width:100%; height:11vw; font-size:4vw; }

  .about_editorial{
    padding: 8.3vw 0 16.6vw 0;
    width:90%;
  }
  .about_editorial h2{ font-size:7vw; margin-bottom:2vw; }
  .about_editorial__content{
    display:grid;
    grid-template-columns:1fr;
    gap: 5.5vw;
    padding:5.5vw;
    background:#e9e9e9;
    border:1px solid rgba(0,0,0,.06);
    margin:0 auto;
  }
  .about_editorial__title{ font-size:5.5vw; }
  .about_editorial__text p
  {
    font-size:4.5vw;
    line-height:1.1;
    margin: 0 0 0 0;
  }
  .about_editorial__content hr
  {
    width: 100%;
    display: block;
  }
  .about_editorial__col:nth-of-type(2)
  {
    margin-bottom: 0vw;
  }
  .readmore {
    text-underline-offset: 0.7vw;
    display: block;
    width: 100%;
    text-align: center;
  }
  .about_editorial__text
  {
    font-size: 4.5vw;
    margin-bottom: 2.5vw;
  }
  .about_editorial__list{
    font-size:4.5vw;
    margin:0 0 0 -5vw;
    margin: 0;
    padding: 0;
  }

  .about_editorial__list li
  {
    display: none;
  }

  .about_editorial__btn, .about_editorial__btn__red{
    height:11vw;
    font-size:4vw;
    padding:0 6vw;
    gap: 2vw;
  }
}

/* ===== ПЛАНШЕТ 768-1024px ===== */
@media (min-width: 768px) and (max-width: 1024px) {
  .card:hover
  {
    transform: scale(1);
  }
  :root{
    --container: 85vw;
    --gap: 2.5vw;
    --edge: 2.5vw;
  }
  body{ max-width:100%; overflow-x:hidden; }
  section{
    width: calc(100% - 40px);
    max-width: none;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .hero{
    min-width: 36vw;
    width:100%;
    height: 90vw;
    min-height: 90vh;
    padding-top: 4.17vw;
    padding-bottom: 3.13vw;
    background-position:center;
    width: calc(100% - 40px);
  }
  .hero h1{
    font-size: 6vw;
    margin-top: 20vw;
    padding:0 2vw;
    line-height:0.85;
    font-weight:300;
    letter-spacing: -0.05em;
  }

  .hero_btn{
    height:4.6vw;
    padding: 0 10vw;
  }

  .cards{
    padding-top:10vw;
    width: calc(100% - 40px);
  }
  .cards_row{ margin:0 auto; }
  .card h2
  {
    font-size: 2.6vw;
  }
  .card_arrow
  {
    right: 1.2vw;
    bottom: 1.2vw;
    width: 3.8vw;
    height: 3.8vw;
  }

  .about_design{
    width: calc(100% - 40px);
  }
  .about_design_card{ width:100%; flex:none; }

  .about_design_card.fig_1{ order:1; grid-column:2/3; grid-row:1; }
  .about_design_card.fig_2{ order:2; grid-column:1/2; grid-row:1; }
  .about_design_card.fig_3{ order:3; grid-column:1 / -1; grid-row:2; }

  .about_design_card figcaption
  {
    font-size:2.35vw;
    margin-top:0.6vw;
  }

  .about_design_footer{
    margin-top:1.5vw;
    display:flex;
    justify-content:center;
  }
  .about_design_all, .journal_actions .journal_btn, .journal_actions .journal_btn_s, .hero_btn{
    height: 5.9vw;
    font-size:1.3vw;
  }
  .about_editorial__title
  {
    font-size: 2.85vw;
  }
  .about_editorial__text
  {
    font-size: 2.1vw;
  }
  .about_editorial__list
  {
    font-size: 2.1vw;
  }
  .about_editorial__col
  {
    justify-content: flex-end;
  }
  .about_editorial__col:nth-of-type(1)
  {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .about_editorial__col:nth-of-type(2)
  {
    grid-column: 3 / 5;
    grid-row: 1;
  }
  .about_editorial__col:nth-of-type(3)
  {
    grid-column: 1 / 3;
    grid-row: 3;
    gap: 2.5vw;
  }
  .about_editorial__col:nth-of-type(4)
  {
    grid-column: 3 / 5;
    grid-row: 3;
    gap: 2.5vw;
  }
  .about_editorial__content hr
  {
    grid-row: 2;
    width: 100%;
    grid-column: 1 / 5;
    display: block;
  }
  .about_editorial__col:nth-of-type(n+2) .about_editorial__text
  {
    margin-bottom: 1.3vw;
  }
  .readmore {
    text-underline-offset: 0.5vw;
  }

  .journal_btns .journal_btn
  {
    width: calc((46% + (var(--gap)) / 2));
  }
  .journal_btns .journal_btn_s
  {
    flex: 1;
  }
  .journal_desc
  {
    font-size: 2.5vw;
  }
  .journal_block h2
  {
    margin: 0 0 2vh;
  }
  .about_editorial__btn, .about_editorial__btn__red 
  {
    height: 5.9vw;
    font-size: 1.3vw;
  }
  h2
  {
    font-size: 4.55vw;
    margin: 0 0 4vw;
  }
  .journal_block
  {
    grid-template-columns: calc(23% - (var(--gap))/2) 23% 1fr;
  }
  .journal_actions .journal_btns
  {
    gap: var(--gap);
  }
  .journal_actions
  {
    grid-column: 1 / 4;
    grid-row: 3;
    padding-top: 2vh;
  }
  .events_btn{
    width: 100%;
    height: 5.9vw;
    font-size: 1.3vw;
  }
  .event_caption
  {
    font-size: 2.35vw;
  }
  .events_footer, .about_design_footer
  {
    width: 49.3%;
    margin-top: 4vw;
  }

}

/* ===== ДЕСКТОП >= 1025px ===== */
@media (min-width: 1025px) {

  section{
    width: calc(100% - 40px);
  }

  body{ max-width: 100%; }

  .journal_big{ font-size: 6.25vw; }
}

